
*{
    margin: 0px;
    padding: 0px;
}

body{
    background: #03203C;
}
h1{
    color: white;
    /* font-family: 'Lobster', cursive; */
    font-family: 'Coda Caption', sans-serif;
    font-size: 65px;
    font-weight: 65px;
    padding-left: 40%;
    padding-top: 1%;
    text-shadow: 3px 0 red;
    border-bottom: 3px solid white;
    padding-bottom: 0px;
}
h2{
    color: white;
    /* font-family: 'Lobster', cursive; */
    font-family: 'Prompt', sans-serif;
    font-size: 28px;
    padding-left: 37%;
    padding-top: 5%;
    text-shadow: 1.5px 0 red;
    
   
}
.cal{
    width: 350px;
    height: 430px;
    margin-left: 42%;
    margin-top: 1%;
    box-shadow: 5px 10px 15px
    #0D0D0D;
    background: white;
    border-radius: 5px;
    text-align: center;
    
}
input{
    width: 99%;
    height: 105px;
    border-radius: 5px;
    border: 1px solid black;
    /* margin-left: 1px; */
    margin-bottom: 15px;
    text-align: right;
    font-size:larger;
}
button{
    width: 80px;
    height: 55px;
    font-size: larger;
    font-family: 'Prompt', sans-serif;
    /* background: #03203C; */
    /* color: white; */
}